<section class="studentapp">
  <header class="header">
    <h1>Students</h1>
    <input class="new-student" placeholder="Student Name" autofocus="" [(ngModel)]="newStudent.name" (keyup.enter)="addStudent()">
  </header>
  <section class="main" *ngIf="students.length > 0">
    <ul class="student-list">
      <li *ngFor="let student of students" >
        <div class="view">         
          <label>{{student.name}}</label>
          <button class="destroy" (click)="removeStudent(student)" >Delete</button>
           <button class="destroy" (click)="removeStudent(student)" >Update</button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="students.length > 0">
    <span class="student-count"><strong>{{students.length}}</strong> {{students.length == 1 ? 'student' : 'students'}} registered</span>
  </footer>
</section>